<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <!-- <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Menu</span>
    </a> -->
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <%= link_to mypage_path, class: "nav-link align-middle px-0 #{active_if('mypage')}" do %>
          <i class="fa-solid fa-house"></i><span class="ms-1 d-none d-sm-inline">マイページ</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to profile_path, class: "nav-link align-middle px-0 #{active_if('profile')}" do %>
          <i class="fa-solid fa-user"></i><span class="ms-1 d-none d-sm-inline">プロフィール</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
