<p class="">
  <%= link_to userpage_path(post.user.name) do %>
    <% if post.user.profile.icon.blank? %>
      <%= image_tag "/assets/default.jpg", class: 'header-profile-icon' %>
    <% else %>
      <%= image_tag post.user.profile.icon, class: 'header-profile-icon' %>
    <% end %>
  <% end %>
</p>
