@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap/scss/bootstrap';
@import 'base';
@import 'posts';
@import 'comments';
@import 'profiles';
@import 'favorites';
@import 'rooms';
@import 'messages';

body {
  background-color: #f5f5f5;
  padding-top: 70px;
}

.header-profile-icon {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  40px;       /* ※縦横を同値に */
  height: 40px;       /* ※縦横を同値に */
  background-position: center center;
  object-fit: cover;
}
