<div class="d-flex align-items-center">
  <h1>掲示板編集</h1>
  <div class="ms-auto posts__linkBox">
    <a href="/posts" class="btn btn-outline-dark">掲示板一覧</a>
  </div>
</div>
<%= render partial: 'form', locals: { post: @post } %>
